---
import BaseLayout from '../layouts/BaseLayout.astro';
import Blogpost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle="ブログやで"
---

<BaseLayout pageTitle={pageTitle}>
  <p>ブログのページです</p>
  <ul>
    {allPosts.map((post) => <Blogpost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>
